html {
    font-size: 62.5%; /* blarrgh */
}

body {
	background-color: white;
	color: white;
	font-family: 'Maison Neue Mono', sans-serif;
	margin: 0;
}

main div  {
	padding: 1.6rem;	
}

h1 {
	margin: 0;
}
