body,
.bg {
	background-size: 16rem;
	background-repeat-y: no-repeat;
	height: calc(980px * 0.7);	
}

#MATRIX {
	display: none !important;
}

#VEIL {
	height: 32rem;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
